﻿@using Hospital.Clases
@model EspecialidadCLS
@{
    ViewData["Title"] = "Agregar";
}

<div class="row">
    <div class="col-md-6">
        <form asp-controller="Especialidad" asp-action="Agregar" method="post" id="frmEnviar">
            <div class=" form-group">
                <label asp-for="nombre"></label>
                <input asp-for="nombre" class="form-check form-control" />
                <span asp-validation-for="nombre" class="text-danger"></span>
            </div>
            <div class=" form-group">
                <label asp-for="descripcion"></label>
                <input asp-for="descripcion" class="form-check form-control" />
                <span asp-validation-for="descripcion" class="text-danger"></span>
            </div>
            <div class=" form-group">
                <input value="Agregar" type="button" class="btn btn-primary" onclick="ModalConfirmacion()"/>
                <a asp-controller="Especialidad" asp-action="Index" class="btn btn-danger">Regresar</a>
            </div>
        </form>
    </div>
</div>


<script src="~/js/sweetalert.js"></script>
<script src="~/js/generico.js"></script>
<script>
    function ModalConfirmacion()
    {
        modalGuargar().then((result) =>
        {
            if (result.isConfirmed)
            {            
                 var frmEnviar = document.getElementById("frmEnviar").submit();              
            }
        })
    }
</script>

