﻿@using Hospital.Clases;
@model IEnumerable<EspecialidadCLS>
@{ 
    string nombreEspecialidad = ViewBag.nombreEspecialidad;
}
<a class= "btn btn-primary"  asp-controller="Especialidad" asp-action="Agregar">Agregar</a>
<form asp-controller="Especialidad" asp-action="Index" method="post" class="mb-2" style="display:grid; grid-template-columns: 1fr 2fr 1fr 1fr" id="frmFormulario">
    <label>Ingrese nombre Especialidad</label>
    <input type="text" class="form-check form-control" name="nombre" value="@nombreEspecialidad" id="nombre" />
    <input type="submit" value="Buscar" class="btn btn-info" />
    <input type="button" value="Limpiar" class="btn btn-danger" onclick="Limpiar()" />
</form>
<table class="table">   
    <thead class=" thead-dark">
        <tr>
            <th>@Html.DisplayNameFor(model => model.idEspecialidad) </th>
            <th>@Html.DisplayNameFor(model => model.nombre)</th>
            <th>@Html.DisplayNameFor(model => model.descripcion)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (EspecialidadCLS objEspecialidadCLS in Model)
        {
            <tr>
                <td>@objEspecialidadCLS.idEspecialidad</td>
                <td>@objEspecialidadCLS.nombre</td>
                <td>@objEspecialidadCLS.descripcion</td>
                <td>
                    <button class="btn btn-outline-danger"  onclick="Eliminar(@objEspecialidadCLS.idEspecialidad)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"></path>
                            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"></path>
                        </svg>
                    </button>
                    
                </td>
            </tr>
        }

    </tbody>
</table>
<script>
    function Limpiar() {
        document.getElementById("nombre").value = "";
        document.getElementById("frmFormulario").submit();
    }
    function Eliminar(idEspecialidad) {
        alert(idEspecialidad)
    }
</script>