﻿@model Hospital.Clases.PaginaCLS

@{
    ViewData["Title"] = "Agregar";
}

<h1>Agregar</h1>

<h4>PaginaCLS</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Agregar" asp-controller="Pagina" method="post" id="frmEnviar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="mensaje" class="control-label"></label>
                <input asp-for="mensaje" class="form-control" />
                <span asp-validation-for="mensaje" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="accion" class="control-label"></label>
                <input asp-for="accion" class="form-control" />
                <span asp-validation-for="accion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="controlador" class="control-label"></label>
                <input asp-for="controlador" class="form-control" />
                <span asp-validation-for="controlador" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="button" value="Agregar" class="btn btn-primary" onclick="ModalConfirmacion()" />
                <a class="btn btn-danger" asp-action="Index">Regresar</a>
            </div>
        </form>
    </div>
</div>
<script src="~/js/sweetalert.js"></script>
<script src="~/js/generico.js"></script>

<script>
    function ModalConfirmacion() {
        modalGuargar().then((result) => {
            if (result.isConfirmed) {
                var frmEnviar = document.getElementById("frmEnviar");
                frmEnviar.submit();
            }
        })
    }
</script>

