﻿@using Hospital.Clases;
@model IEnumerable<PaginaCLS>;
@{ 
    string mensajePagina = ViewBag.mensajePagina;
}
<a class="btn btn-info" asp-controller="Pagina" asp-action="Agregar">Agregar</a>
<form asp-controller="Pagina" asp-action="Index" method="post" class="mb-2" style="display:grid; grid-template-columns: 1fr 2fr 1fr 1fr" id="frmFormulario">
    <label>Ingrese Mensaje </label>
    <input type="text" id="mensaje" class="form-check form-control" name="mensaje" value="@mensajePagina" />
    <input type="submit" value="buscar" class="btn btn-info" />
    <input type="button" value="Limpiar" class="btn btn-danger" onclick="Limpiar()"/>

</form>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>@Html.DisplayNameFor(model => model.idPagina)</th>
            <th>@Html.DisplayNameFor(model => model.mensaje)</th>
            <th>@Html.DisplayNameFor(model => model.accion)</th>
            <th>@Html.DisplayNameFor(model => model .controlador)</th>
        </tr>
    </thead>
    <tbody>
        @foreach(PaginaCLS objPaginaCLS in Model)
        {
        <tr>
            <td>@objPaginaCLS.idPagina</td>
            <td>@objPaginaCLS.mensaje</td>
            <td>@objPaginaCLS.accion</td>
            <td>@objPaginaCLS.controlador</td>
        </tr>
        }
    </tbody>
</table>
<script>
    function Limpiar() {
        document.getElementById("mensaje").value = "";
        document.getElementById("frmFormulario").submit();
    }
</script>