﻿@model Hospital.Clases.TipoUsuarioCLS

@{
    ViewData["Title"] = "Agregar";
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Agregar" asp-controller="TipoUsuario" method="post" id="frmEnviar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
          
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="button" value="Crear" class="btn btn-primary" onclick="ModalConfirmacion()"/>
                <a class="btn btn-danger" asp-controller="TipoUsuario" asp-action="Index">Regresar</a>
            </div>
        </form>
    </div>
</div>
<script src="~/js/sweetalert.js"></script>
<script src="~/js/generico.js"></script>

<script>
    function ModalConfirmacion() {
        modalGuargar().then((result) => {
            if (result.isConfirmed) {
                var frmEnviar = document.getElementById("frmEnviar");
                frmEnviar.submit();
            }
        })
    }
</script>