﻿@using Hospital.Clases
@model IEnumerable<Hospital.Clases.TipoUsuarioCLS>

@{
    ViewData["Title"] = "Index";
    string nombre = ViewBag.Nombre;
    string Descripcion = ViewBag.Descripcion;
    int idTipoUsuario = ViewBag.IidTipoUsuario;
}


<a class="btn btn-primary" asp-controller="TipoUsuario" asp-action="Agregar">Agregar</a>
<form asp-controller="TipoUsuario" asp-action="Index">
    <input type="submit" value="Enviar" class="btn btn-primary"/>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>
                  
                    @Html.DisplayNameFor(model => model.Iidtipousuario)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descripcion)
                </th>
            </tr>
            <tr>
                <th>
                    @if (idTipoUsuario == 0)
                    {
                        <input type="number"  name="Iidtipousuario" class="form-control" />
                    }
                    else
                    {
                        <input type="number" value="@idTipoUsuario" name="Iidtipousuario" class="form-control" />
                    }

                </th>
                <th>
                    <input type="text" value="@nombre" name="Nombre" class="form-control" />
                </th>
                <th>
                    <input type="text" value ="@Descripcion"name="Descripcion" class="form-control" />
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (TipoUsuarioCLS objTipoUsuario in Model)
            {
                <tr>
                    <td>
                        @objTipoUsuario.Iidtipousuario
                    </td>
                    <td>
                        @objTipoUsuario.Nombre
                    </td>
                    <td>
                        @objTipoUsuario.Descripcion
                    </td>

                </tr>
            }
        </tbody>
    </table>
</form>
