﻿@using Hospital.Clases
@model MedicamentosCLS
@{
    ViewData["Title"] = "Agregar";
    List<SelectListItem> listaFormaFarmaceutica = ViewBag.listaFormaFarmaceutica;
}

<h1>Formulario Agregar Medicamento</h1>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Agregar" asp-controller="Medicamento" method="post" id="frmEnviar">
            <div class="form-group">
                <label asp-for="nombreMedicamento"></label>
                <input type="text" class="form form-control" asp-for="nombreMedicamento" />
                <span asp-validation-for="nombreMedicamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="concentracionMedicamento"></label>
                <input type="text" class="form form-control" asp-for="concentracionMedicamento " />
                <span asp-validation-for="concentracionMedicamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="iidFormaFarmaceutica"></label>
                <select asp-for="iidFormaFarmaceutica" class="form form-control" asp-items="@listaFormaFarmaceutica"></select>
                <span asp-validation-for="iidFormaFarmaceutica" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="precio"></label>
                <input type="text" class="form form-control" asp-for="precio " />
                <span asp-validation-for="precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="stock"></label>
                <input type="number" class="form form-control" asp-for="stock " />
                <span asp-validation-for="stock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="presentacion"></label>
                <input type="text" class="form form-control" asp-for="presentacion " />
                <span asp-validation-for="presentacion" class="text-danger"></span>
            </div>
            <div class=" form-group">
                <input value="Agregar" type="button" class="btn btn-primary" onclick="ModalConfirmacion()" />
                <a asp-controller="Medicamento" asp-action="Index" class="btn btn-danger">Regresar</a>
            </div>
        </form>
    </div>
</div>
<script src="~/js/sweetalert.js"></script>
<script src="~/js/generico.js"></script>
<script>
    function ModalConfirmacion() {
        modalGuargar().then((result) => {
            if (result.isConfirmed) {
                var frmEnviar = document.getElementById("frmEnviar");
                frmEnviar.submit();
            }
        })
    }
</script>