﻿@model IEnumerable<Hospital.Clases.MedicamentosCLS>

@{
    ViewData["Title"] = "Index";
    List<SelectListItem> listaFormaFarmaceutica = ViewBag.listaFormaFarmaceutica;
}

<a class="btn btn-primary" asp-controller="Medicamento" asp-action="Agregar">Agregar</a>
<form asp-controller="Medicamento" asp-action="Index" style="display: grid; grid-template-columns: 1fr 2fr" class="mb-2" id="frmFormaFarmaceutica">
    <label>Ingrese nombre de la forma farmacéutica</label>
    @Html.DropDownList("iidFormaFarmaceutica", listaFormaFarmaceutica, new { @class = "form form-control" })
</form>


<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.idMedicamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombreMedicamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.concentracionMedicamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.formaFamaceutica)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.stock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.presentacion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idMedicamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombreMedicamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.concentracionMedicamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.formaFamaceutica)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.presentacion)
            </td>
        
        </tr>
}
    </tbody>
</table>
<script>
    var iidFormaFarmaceutia = document.getElementById("iidFormaFarmaceutica");
    iidFormaFarmaceutia.onchange = function () {

        document.getElementById("frmFormaFarmaceutica").submit();
    }
</script>
