﻿@model IEnumerable<Hospital.Controllers.SedeCLS>
@{ 
    string nombreSedeCLS = ViewBag.nombreSedeCLS;

}

<form asp-controller="Sede" asp-action="Index" method="post" id="frmFormulario" class="mb-2" style="display:grid; grid-template-columns: 1fr 2fr">
    <label>Ingrese nombre Sede:</label>
    <input type="text" name="nombre"  value="@nombreSedeCLS" id="nombreSede" onkeyup="Buscar()"/>
</form>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.idSede)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.direccion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idSede)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.direccion)
            </td>
            <td>
            </td>
        </tr>
}
    </tbody>
</table>
<script>
    function Buscar() {
        document.getElementById("frmFormulario").submit();
    }
</script>