﻿@model Hospital.Clases.PersonaCLS

@{
    ViewData["Title"] = "Agregar";
    List<SelectListItem> listaSexo = ViewBag.listaSexo;
}

<h1>Agregar Persona</h1>

<h4>PersonaCLS</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Agregar" asp-controller="Persona" method="post" id="frmEnviar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
      
            <div class="form-group">
                <label asp-for="nombre" class="control-label"></label>
                <input asp-for="nombre" class="form-control" />
                <span asp-validation-for="nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="apPaterno" class="control-label"></label>
                <input asp-for="apPaterno" class="form-control" />
                <span asp-validation-for="apPaterno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="apMaterno" class="control-label"></label>
                <input asp-for="apMaterno" class="form-control" />
                <span asp-validation-for="apMaterno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="telefonoFijo" class="control-label"></label>
                <input asp-for="telefonoFijo" class="form-control" />
                <span asp-validation-for="telefonoFijo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="telefonoCelular" class="control-label"></label>
                <input asp-for="telefonoCelular" class="form-control" />
                <span asp-validation-for="telefonoCelular" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fechaNacimiento" class="control-label"></label>
                <input asp-for="fechaNacimiento" class="form-control" />
                <span asp-validation-for="fechaNacimiento" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="email" class="control-label"></label>
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="iidSexo" class="control-label"></label>
                <select asp-for="iidSexo" class="form-control" asp-items="@listaSexo"></select>
                <span asp-validation-for="iidSexo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="button" class="btn btn-primary" value="Agregar" onclick="ModalConfirmacion()"/>
                <a class="btn btn-danger" asp-controller="Persona" asp-action="Index">Regresar</a>
            </div>
        </form>
    </div>
</div>
<script src="~/js/sweetalert.js"></script>
<script src="~/js/generico.js"></script>

<script>
    function ModalConfirmacion() {
        modalGuargar().then((result) => {
            if (result.isConfirmed) {
                var frmEnviar = document.getElementById("frmEnviar");
                frmEnviar.submit();
            }
        })
    }
</script>