﻿@using Hospital.Clases;
@model IEnumerable<PersonaCLS>;
@{
    List<SelectListItem> listaSexo = ViewBag.listaSexo;
 }
<a class="btn btn-primary" asp-action="Agregar" asp-controller="Persona" >Agregar</a>
<form asp-controller="Persona" asp-action="Index" id="frmFiltroSexo" method="post" class="mb-2" style=" display:grid; grid-template-columns: 1fr 2fr 1fr 1fr">
    <label>Inserte Sexo</label>
    @Html.DropDownList("iidSexo", listaSexo, new { @class ="form form-control" })
    <input type="submit" value="Buscar" class="btn btn-info"/>
    <input type ="button" value="Limpiar" class=" btn btn-danger" onclick="Limpiar()"/>
</form>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>@Html.DisplayNameFor(model => model.idPersonas)</th>
                <th>@Html.DisplayNameFor(model => model.nombreCompleto)</th>
                <th>@Html.DisplayNameFor(model => model.email)</th>
                <th>@Html.DisplayNameFor(model => model.sexo)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (PersonaCLS objPersonaCLS in Model)
            {
                <tr>
                    <td>@objPersonaCLS.idPersonas</td>
                    <td>@objPersonaCLS.nombreCompleto</td>
                    <td>@objPersonaCLS.email</td>
                    <td>@objPersonaCLS.sexo</td>
                </tr>
            }

        </tbody>
    </table>
<script>
    function Limpiar() {
        document.getElementById("iidSexo").value = "";
        document.getElementById("frmFiltroSexo").submit();
    }
</script>